@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


.queverguenzaMenu:hover .queverguenzaMenuIcono {
     gap: 0.25rem;
    margin: 0.125rem 0;
 }


 /* styles.css */
@keyframes unfold {
    from {
      height: 0;
      margin-bottom: 0;
    }
    to {
      height: auto; /* Adjust based on your content */
      margin-bottom: 0.75rem;
    }
  }
  
  @keyframes fold {
    from {
      height: auto; /* Adjust based on your content */
      margin-bottom: 0.75rem;
    }
    to {
      height: 0;
      margin-bottom: 0;
    }
  }
  
  .expand {
    overflow: hidden;
    animation: unfold 0.5s ease-out forwards;
  }
  
  .collapse {
    overflow: hidden;
    animation: fold 0.5s ease-in forwards;
  }